@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: keep some original base styles if desired */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
